In [37]:
import pandas as pd
import pickle
df_data_cleaned = pd.read_csv("./python_datasets/cleanend.csv")[["age", "sex", "payment_type","was_canceled"]]

In [38]:
with open("./models/encoder", "rb") as f: 
    encoder = pickle.load(f) 
    
with open("./models/scaler", "rb") as f: 
    scaler = pickle.load(f)

In [39]:
df_data_cleaned

     age  sex  payment_type  was_canceled
0     64    0             0             1
1     49    1             0             1
2     24    1             1             1
3     45    0             0             0
4     45    0             0             0
..   ...  ...           ...           ...
981   29    1             0             0
982   84    0             0             0
983   20    0             0             1
984   19    0             0             0
985   24    1             0             0

[986 rows x 4 columns]

In [46]:
scaled_age = scaler.transform(np.asarray(df_data_cleaned["age"]).reshape(-1, 1))
scaled_age = scaled_age.reshape(986,)
df_data_cleaned["age"] = scaled_age

In [61]:
hot_encoded_array = encoder.transform(np.asarray(df_data_cleaned["payment_type"]).reshape(len(df_data_cleaned["payment_type"]), 1))

df_hot_encoded = pd.DataFrame(hot_encoded_array, columns = ['kreditkarte','bar','check'])
df_hot_encoded['age'] = scaled_age
df_hot_encoded['sex'] = df_data_cleaned["sex"]
df_hot_encoded['was_canceled'] = df_data_cleaned["was_canceled"]

In [62]:
df_hot_encoded = df_hot_encoded[["age", "sex", "kreditkarte", "bar", "check", "was_canceled"]]
df_hot_encoded.to_csv("for_pres_hot_encoded.csv")